body {
  font-family: monospace, arial, helvetica;
  margin: 0px;
}

td {
}

td, tr, table {
  margin: 0px;
  padding: 0px;
}

table {
  border-spacing: 0px;
}

.editor {
  width: 100%;
}

#outputContainer {
  border: solid 1px;
  padding: 3px;
  height: 200px;
  overflow: scroll;
}

#codeContainer {
  border-right: solid 1px;
  border-left: solid 1px;
  width: 600px;
  height: 200px;
}

#debugContainer {
  border: solid 1px;
  height: 200px;
  width: 100%;
  padding-left: 5px;
  overflow: scroll;
}

.CodeMirror {
}

#debugview .debugVarName {
  border-right: solid 1px black;
}

#debugview {
  font-size: 0.8em;
}

.debugRow {
  height: 13px;
}

.CodeMirror-scroll {
  height: 200px;
}
